html{
  scroll-behavior: smooth;
}

.bg-nav {
  background: #736558;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 4px 2px 0 rgba(0, 0, 0, 0.6);
}

#carouselSlider .carousel-inner, 
#carouselSlider .carousel-item {
  height: 88vh;
  border-radius: 2px;
}

#carouselSlider .carousel-caption {
  top: 30%;
  color: #393228;
}

#carouselSlider h3 {
  font-size: 80px;
  font-weight: bold;
}

#carouselSlider .carousel-caption p {
  margin-bottom: 100px;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
}

#carouselSlider .main-btn {
  background: #403E3A;
  color: #fff;
  width: 120px;
  height: 38px;
  text-transform: uppercase;
  border-radius: 18px;
  border: none;
}

.carousel-indicators .active {
  height: 4px;
  background-color: #403E3A;
  color: #f9f9f9;
}

/* #testemonial {
  background: #A6998A;
} */
 
#testemonial p {
  line-height: 1.8rem
}

#about-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 2rem;
}

#weare {
  background: #fff;
}

#weare h2::after {
  content: "";
  border-top: 2px solid #000;
  position: absolute;
  width: 15%;
  top: 90px;
  left: 55%;
}

#weare div > ul > li > i {
  height: 1rem;
  padding-left: 0;
  margin-right: 4px;
  background-color: #EDE0D2;
}

#weare ul > li {
  line-height: 1.4rem;
}

#quote {
  background: url('/assets/imgs/nick-fewings-BPDJLWz_Bog-unsplash.jpg') center center;
  background-size: cover;
  height: 40vh; 
}

#environment {
  background: #A6998A;
}

#experts {
  background: #D9D0C5;
}

ul > li > a.nav-link {
  font: bolder 16px sans-serif;;
  text-transform: uppercase;
  color: #9B8E7D !important;
}

ul > li > a:hover {
  text-decoration: none;
}

#contact {
  background: #D9D0C5;
}

#contact img {
  position: relative;
  bottom: 30%;
  width: 100%;
}

#back-to-top {
  position: fixed;
  height: 24px;
  width: 30px;
  bottom: 4px;
  right: 20px;
  //visibility: hidden;
}

@media (max-width: 767px) {
  .fixed-top {
    position: relative;
  }

  #carouselSlider .carousel-inner, 
  #carouselSlider .carousel-item {
    height: 100%;
  }

  #carouselSlider .carousel-caption p,
  #carouselSlider h3 {
    display: none;
    /* position: relative;
    color: darksalmon;
    font-size: 40px;
    font-weight: normal;
    top: 48%; */
  }

  #carouselSlider .carousel-caption button {
    position: relative;
    font-weight: normal;
    top: 55%
  }

  .blockquote footer {
    font-size: 16px;
  }
}