html{
  scroll-behavior: smooth;
}

.bg-nav {
  background: #736558;
  padding-bottom: 100px;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 4px 2px 0 rgba(0, 0, 0, 0.4);
}

#carouselSlider .carousel-inner, 
#carouselSlider .carousel-item {
  height: 84vh;
}

#carouselSlider .carousel-caption {
  top: 20%;
  color: #050404;
}

#carouselSlider h3 {
  font-size: 60px;
  font-weight: bold;
}

#carouselSlider .carousel-caption p {
  margin-bottom: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #1C1C1C;
}

#carouselSlider .main-btn {
  background: #403E3A;
  color: #fff;
  width: 120px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 18px;
  border: none;
}

.carousel-indicators .active {
  height: 6px;
  background-color: #403E3A;
  color: #f9f9f9;
}
 
#testemonial p {
  line-height: 1.8rem
}

#about-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 2rem;
}

#weare {
  background: #fff;
}

#weare h2::after {
  content: "";
  border-top: 2px solid #000;
  position: absolute;
  width: 10%;
  top: 90px;
  left: 55%;
}

#weare div > ul > li > i {
  height: 1rem;
  padding-left: 0;
  margin-right: 4px;
  background-color: #EDE0D2;
}

#weare ul > li {
  line-height: 1.4rem;
}

#quote {
  background: url('/assets/imgs/nick-fewings-BPDJLWz_Bog-unsplash.jpg') center center;
  background-size: cover;
  height: 40vh; 
}

em {
  font-size: 1rem;
}

ul > li > a.nav-link {
  font: bolder 16px sans-serif;;
  text-transform: uppercase;
  color: #1e1c18 !important;
}

ul > li > a:hover {
  text-decoration: none;
}

#contact {
  background: #D9D0C5;
}

#contact img.img-fluid {
  position: relative;
  bottom: 25%;
}

#contact ul li a img {
  background: #c3c3c3;
}

#copy {
  margin-top: 40px;
}

#back-to-top img {
  position: fixed;
  height: 24px;
  width: 30px;
  bottom: 8px;
  right: 20px;
}

@media (max-width: 767px) {
  .fixed-top {
    position: relative;
  }

  #carouselSlider .carousel-inner, 
  #carouselSlider .carousel-item {
    height: 100%;
  }

  #carouselSlider .carousel-caption p {
    display: none;
  }

  #carouselSlider h3 {
    color: #132452;
    position: relative;
    top: 30%;
    font-size: 2em;
    font-weight: bolder;
  }

  #carouselSlider .main-btn {
    position: relative;
    top: 50%;
    background: #132452;
    /* color: #fff;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 18px; */
  }

  .blockquote footer {
    font-size: 14px;
  }
}